body {
  font-family: sans-serif;
  text-align: center;
  background-color: #333;
  color: white;
}

#gameArea {
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin: 20px auto;
  border: 5px solid #555;
  position: relative; /* Żeby kropka (jeśli absolute) była względem tego */
  overflow: hidden;
}

#player {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  /* Ustawimy pozycję początkową za pomocą transform w JS, ale warto dać startowe */
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.1s linear; /* Płynność */
}
