body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100vh;
  padding: 2rem;
  transition:
    background-color 0.5s,
    color 0.5s;
  background-color: #ffffff;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #333;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.btn:hover {
  background: #eee;
}

/* Styl trybu ciemnego */
.dark-mode {
  background-color: #222222;
  color: #f0f0f0;
}

/* W trybie ciemnym zmieniamy też wygląd nagłówka i przycisku */
.dark-mode header {
  border-bottom-color: #444;
}

.dark-mode .btn {
  border-color: #fff;
  color: #fff;
}

.dark-mode .btn:hover {
  background: #444;
}
